.blockIntro {
    max-width: 358px;
    max-height: 408px;
    height: 100%;
    box-shadow: 0px 4px 120px rgba(58, 86, 78, 0.07);
}

.introLogo {
    box-shadow: 0px 4px 70px rgba(91, 91, 91, 0.05);
    width: 97px;
    height: 97px;
}

.intro-descrip {
    max-width: 276px;
}