@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    @apply text-white;
    @apply font-normal;
    @apply text-lg;
}

.bg-dark-blue {
    background: #383F50;
}

.logo {
    background:#FF8049;
    width: 53px;
    height: 53px;
    border-radius: 100%;
}
