.btnLink {
    max-width: 201px;
    max-height: 62px;
    line-height: 180%;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    margin-right: 0;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-orange {
    background: #FF8049;
    border-radius: 0%;
}
