/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .blocks {
        flex-direction: column;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .blocks {
        flex-direction: column;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}

.leading-21 {
    line-height: 5.25rem;
}