.titleCalc {
    max-width: 535px;
    line-height: 140%!important;
}

.descripCalc {
    max-width: 420px;
        line-height: 180%!important;
}

@media screen {
    .sliders {
        @apply grid-cols-2;
        @apply grid-rows-2;
    }
}


@media screen and (max-width: 1024px){
    .sliders {
        @apply grid-cols-1;
        @apply grid-rows-4;

    }
}
@media screen and (max-width: 480px){
    .sliders {
        @apply grid-cols-1;
        @apply grid-rows-4;
    }
    .calculator {
        padding-left: 3rem;

    }
}

